<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs')%>
    <%-include('../partials/nav.ejs')%>
    
    <title>My products</title>
</head>
<body> 
    <div class= "container mt-4">
    <h3>Our products </h3>
    </div>
   <div id="app"> </div>
   <%-include('../partials/scripts.ejs') ;%>

</body>
</html>